@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

html {
  margin: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}

.photo {
  border-radius: 20px;
  width: 460px;
  height: 550px;
  padding: 38px 28px;
  background-color: white;
}

.picture {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  margin-bottom: 0px;
  font-weight: 600;
}

.description {
  margin-top: 0px;
  font-size: 20px;
  white-space: pre-line;
  opacity: 50%;
}

.tag {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.tag_price {
  font-size: 20px;
  font-style: solid;
  font-weight: 600;
}

.tag_star {
  display: flex;
  flex-direction: row;
}

.star_y {
  color: #febd51;
}

.star_g {
  margin: 0px 4px;
  opacity: 20%;
}

.star_number {
  position: relative;
  bottom: 15px;
  opacity: 70%;
}

.kakao {
  border-radius: 20px;
  width: 516px;
  height: 630px;
  background-color: white;
  margin-top: 20px;
}

.wallpaper {
  padding-left: 8px;
  z-index: 1;
  position: relative;
  height: 305px;
}

.wallpaper::before {
  position: absolute;
  content: "";
  background-image: url(images/iphone11.jpg);
  background-size: cover;
  background-position-y: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 500px;
  height: 305px;
  z-index: -1;
}

.profile,
.name,
.status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  padding-top: 260px;
}

.name {
  margin-top: 70px;
  margin-bottom: 10px;
}

.status {
  opacity: 50%;
}

.profile_main {
  border: 5px solid white;
  margin-top: 0px;
  border-radius: 50%;
}

.button {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  border: 30px;
}

.button_f {
  border-radius: 10px;
  padding: 25px 70px;
  background-color: #6b75ff;
}

.button_m {
  border-radius: 10px;
  padding: 25px 70px;
  background-color: #eaecff;
}
